.footer_container {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
}

.attribution { 
    font-size: 15px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(354, 46%, 54%, 0.9); 
}