@use "../util" as u;

.main_container {
    width: 515px;
    height: 385px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
    border: 1px solid hsl(354, 46%, 54%, 0.5);
    border-radius: 10px;
    box-shadow: u.rem(1) u.rem(1.5) hsl(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 250ms ease;

    @include u.breakpoint-down(large){
        width: 350px;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
}