:root {
    --black-color: hsl(0, 4%, 10%);
    --white-color: hsl(280, 60%, 99%);
    --background-color: hsl(353, 46%, 86%);
    --main-color: hsl(354, 100%, 72%);
    --main-dark-color: hsl(354, 46%, 54%);
    --main-lighter-color: hsl(358, 100%, 72%);
    --main-light-color: hsl(0, 100%, 72%);
}