@use '../util' as u;

h1, h2, h3 {
    letter-spacing: 0.5px;
    line-height: 1.1;
    margin-top: 0;
    font-family: u.$font1;
}

p {
    margin-top: 0;
    font-family: u.$font1;
}

a, a:visited, a:active {
    text-decoration: none;
}